.classpath
.project
.settings
eclipsebin

bin
gen
build
out

# IntelliJ
*.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/navEditor.xml
.idea/dictionaries
.idea/libraries
.idea/caches

.DS_Store

# Gradle
.gradle
local.properties
reports

projectFilesBackup